# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Salidas temporales (comentado ya que están añadidos los resultados al proyecto)
# resultado_imgs/
# resultado.txt
